<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analyzer Web App</h1>
        <p>Type any text and see if it's Positive, Negative or Neutral</p>
        
        <form method="POST">
            <textarea name="text" placeholder="Enter text here..." required></textarea>
            <br>
            <button type="submit">Analyze</button>
        </form>

        {% if result %}
        <div class="result">
            <h3>Result:</h3>
            <p><b>Text:</b> {{ result.text }}</p>
            <p><b>Sentiment:</b> {{ result.sentiment }}</p>
            <p><b>Score:</b> {{ result.score }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>